#menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0 0 1em gold;
}

#menu .menuGroup {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

#menu .menuGroup img {
    width: 180px;
}

#menu .menuGroup .button {
    align-self: center;
}

#menu .menuGroup .button .btnMatric{
    height: 40px;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border: none;
    background: #FFBC01;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#menu .menuGroup .button button:focus{
    outline: none;
}

#menu .menuGroup .button a {
    text-decoration: none;
    margin-right: 15px;
    color: #002167;
    
    font-size: 16px;
    font-weight: bold;
}

.menuGroupMob {
    display: none;
}

.menuMob {
    display: none;
}

@media(max-width: 600px) {
    #menu {
        height: 90px;
    }
    #menu .menuGroup {
        display: none;
    }

    .menuGroupMob {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
    }

    .menuGroupMob .imgLogomob {
        width: 180px;
    }

    .menuGroupMob button {
        padding: 7px;
        background-color: transparent;
        border: none;
    }

    .menuGroupMob button:focus {
        outline: none;
    }

    .menuGroupMob .imgMenuMob {
        margin-top: 15px;
        width: 35px;
    }

    .menuMobActive {
        display: flex;
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 999;
        width: 70%;
    }

    .menuMobActive button {
        background: transparent;
        border: none;
        position: absolute;
        margin-top: 20px;
        margin-right: 35px;
        right: 0;
        width: 50px;
        height: 50px;
    }

    .menuMobActive .groupBtnMob {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 150px;
    }

    .btnMatricMob{
        margin-top: 30px;
        width: 70%;
        text-align: center;
        justify-content: center;
        padding: 20px;
        border: none;
        background: #FFBC01;
        color: white;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }

    .btnEntrarMob {
        font-size: 22px;
        font-weight: bold;
        color: #002167;
        text-decoration: none;
    }
    


    
}